<div class="row">
  <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to shout.username, shout.user %> -
          <%= link_to shout do %>
            <%= time_ago_in_words(shout.created_at) %>
          <% end %>
        </div>
        <div class="panel-body">
          <%= avatar shout.user %>
          <%= render shout.content %>
          <%= like_button shout %>
        </div>
      </div>
  </div>
</div>
