<!DOCTYPE html>
<html>
  <head>
    <title>Shoutr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav navbar-inverse">
      <div class="container" >
        <div class="navbar-header">
          <%= link_to "Shoutr", root_path, class: "navbar-brand" %>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <% if signed_in? %>
              <li><a href="#"><%= current_user.email %></a></li>
              <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign in', sign_in_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div id="flash">
          <% flash.each do |key, value| %>
            <div class="alert alert-danger" role="alert">
              <div class="flash <%= key %>"><%= value %></div>
            </div>
          <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
